<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>天农植物科普网</title>
<link rel="stylesheet" type="text/css" media="all" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/styles1.css" title="styles1" media="screen">
<link rel="alternate stylesheet" type="text/css" href="css/styles2.css" title="styles2" media="screen">
<link rel="alternate stylesheet" type="text/css" href="css/styles3.css" title="styles3" media="screen">
<link rel="stylesheet" id="theme-my-login-css" href="css/theme-my-login.css" type="text/css" media="all">
<link rel="stylesheet" id="wpuf-css-css" href="css/frontend-forms.css" type="text/css" media="all">
<link rel="stylesheet" id="jquery-ui-css" href="css/jquery-ui-1.9.1.custom.css" type="text/css" media="all">

</head>

<body class="frontpage">

<div id="wrap_page">
<!--头部-->	
<header>
	<section id="sitename">
		<a href="#" title="大树林">
			<img src="css/logo.gif" width="88" height="31" alt="大树林">
		</a>
	</section>
	<nav id="shortcuts">
		<ul>			
			<li class="first"><a href="login.html">登录</a></li>
			<li><a href="register.html">注册</a></li>
			<li><a href="about.html">关于</a></li>
		</ul>
	</nav>
	<!--头部的分类部分-->
	<nav id="topmenu">
		<div class="menu-header">
			<ul id="menu-topmenu" class="menu">
				<!--分类-->
				<li id="menu-item-528" class=""><a href="#">首页</a>
				</li>
				<li id="menu-item-527" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-527"><a href="http://dashulin.com/category/guanshang/">观赏植物</a>
				</li>
				<li id="menu-item-526" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-526"><a href="http://dashulin.com/category/yaocai/">药材植物</a></li>
				<li id="menu-item-514" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-514"><a href="http://dashulin.com/category/shiyong/">食用植物</a></li>
				<li id="menu-item-516" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-516"><a href="http://dashulin.com/category/muben/">木本植物</a></li>
				<li id="menu-item-515" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-515"><a href="http://dashulin.com/category/duorou/">多肉植物</a></li>
				<li id="menu-item-2322" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2322"><a href="http://dashulin.com/article/">植物文摘</a></li>
				<li id="menu-item-524" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-524"><a href="http://dashulin.com/category/baicaoyuan/">植物识别</a></li>
	
			</ul>
		</div>		
		<aside id="topsearch">
			<form action="http://dashulin.com/" method="get">
				<input type="text" id="searchword" name="s" value="植物">
				<input type="image" name="submitsearch" alt="Search" value="Search" src="./css/searchbutton.png" id="searchbutton">
			</form>
		</aside>
	</nav>

	<section id="newplantblock">
		<!--从数据库取16个 List<Plant> -->
		<ul>
			<li>
				<a href="http://dashulin.com/youqichuanpu/" title="有栖川菖蒲">
					<img width="100" height="100" src="./css/youxichuanchangpux-120x120.jpg" class="plantimage wp-post-image" alt="有栖川菖蒲" >
					<span>有栖川菖蒲</span>
				</a>
			</li>
						
		</ul>
	</section>
</header>

<div id="wrap_content">
	<section id="leftblocks">
		<section>
			<h2><a href="http://dashulin.com/category/guanshang/">观赏植物</a></h2>
			<ul>
				<!---->
				<li>
					<a href="http://dashulin.com/youqichuanpu/" title="有栖川菖蒲">有栖川菖蒲</a>
				</li>
								
			</ul>
		</section>
		<section>
			<h2><a href="http://dashulin.com/category/yaocai/">药材植物</a></h2>
			<ul>
				<li>
					<a href="http://dashulin.com/banxia/" title="半夏">半夏</a>
				</li>
			</ul>
		</section>
		<section>
			<h2> <a href="http://dashulin.com/category/shiyong/">食用植物</a></h2>
			<ul>
				
			</ul>
		</section>
		<section>
			<h2> <a href="http://dashulin.com/category/muben/">木本植物</a></h2>
			<ul>
												
			</ul>
		</section>
				
		<section class="specialplant">
			<h2>其他类型</h2>
			<ul>
				<li>
					<h3><a href="http://dashulin.com/category/fangxiang/">芳香植物</a></h3>
					<a href="http://dashulin.com/baihe/" rel="bookmark" title="百合">百合</a>
										
				</li>
				<li>
					<h3><a href="http://dashulin.com/category/shuipei/">水培植物</a></h3>
					<a href="http://dashulin.com/youqichuanpu/" rel="bookmark" title="有栖川菖蒲">有栖川菖蒲</a>
										
				</li>
				<li>
					<h3><a href="http://dashulin.com/category/youdu/">有毒植物</a></h3>
					<a href="http://dashulin.com/hongzhang/" rel="bookmark" title="红掌">红掌</a>						
				</li>
			</ul>
		</section>
	</section>


	<section id="rightblocks">
		<section class="articleblock">
			<h2><a href="http://dashulin.com/article/">植物文摘</a></h2>
			<ul>
				<li> 
					<a href="http://dashulin.com/article/sztjjyh/" title="">
					常用植物生长调节剂药害的表现症状</a>
				</li>
			</ul>
		</section>
		<section class="tagsblock">
			<h2><a href="http://dashulin.com/taglist">按科分类</a></h2>
			<ul class="wp-tag-cloud">
				<li><a href="" class="tag-link-201 tag-link-position-1" title="32个话题" style="font-size: 12px;">景天科</a></li>
	 
			</ul>
		</section>
	</section>
</div>


<footer>植物网站，植物百科，药用植物，观赏植物，多肉植物，水培植物。 Copyright © 2019 dashulin.com. All rights reserved. </footer>

</div>

</body>
</html>